<div style="width: 300px;float: left;padding-left: 20px;">
  <div style="display: flex;flex-direction:row ;flex-wrap: nowrap ;">
    <div style="line-height: 48px;">当前路径</div>
    <nz-breadcrumb style="line-height: 48px;padding-left: 15px;" [nzAutoGenerate]="true"></nz-breadcrumb>
  </div>
</div>

<div style="margin-right: 30px;display: flex;float: right;">
  <nz-avatar [nzSize]="35" nzIcon="user" style="margin-top: 6px;"></nz-avatar>
  <div style="line-height: 48px;margin-left: 10px;">Admin</div>
</div>

