<div
  style="" class="top-bar">
  <board-topbar></board-topbar>
</div>
<div class="left-bar">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzBreakpoint="md">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>控制面板</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="主面板" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="welcome">欢迎</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="test">监控</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>工作区</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="命名空间" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>开发</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
</div>
<div class="out-out-content">
  <div class="out-content">
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>


